---
services:
  ipset-ui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ipset-ui
    environment:
      - LISTEN_ADDRESS=0.0.0.0:8082
    volumes:
      - /opt/ipset-ui:/opt/ipset-ui
    network_mode: host
    privileged: true
    restart: unless-stopped
