/* Общие стили для SetsView и EntriesView */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 1200px;

  margin: 40px auto;
  background: #f9f9fb;
  border-radius: 16px;
  box-shadow: 0 4px 24px #00000014;
}

.header-wrapper {
  /*margin-bottom: 20px;*/
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-container .router-link-active,
.header-container .router-link-active:visited,
.header-container .router-link-active:focus,
.header-container .router-link-active:active {
  background: #b3d6ff;
  color: #888;
  pointer-events: none;
  cursor: default;
  box-shadow: none;
  font-weight: 600;
  transform: none;
  text-decoration: none;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  padding-top: 20px;
}

.content-wrapper > * {
  align-self: flex-start;
}

/* Можно добавить другие общие стили по мере необходимости */
